<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Example of a gaming website">
  <title>Test Logotype</title>

  <link rel="apple-touch-icon" sizes="120x120" href="./icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="./icon/favicon.ico">
  <link rel="mask-icon" href="./icon/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="preload" href="./img/banner-bg.webp" as="image">

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  </script>
  <script defer src="js/main.js"></script>
</head>
