// base


$content-width: 1170px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset) * 2);

// colors
$banner-menu-light: #2A86E5;
$bg-search-light: #EEEEEE;
$color-serch-text: #757575;
$bg-facebook: #3A579A;
$bg-twiter: #00ABF0;
$bg-telegram: #24A2E0;
$bg-pinterest: #CD1C1F;
$bg-raddit: #FC461E;
$bg-hurt: #F95149;
$bg-widget: #EBF6F5;
$color-rating-num: #F9B936;
$color-card-text: #B3B3B1;
$footer-text: #0DD0BA;
// colors dark-theme
$bg-dark-switch: #183A5D;

